@model CrucibleBugTracker.Models.Project

@using CrucibleBugTracker.Enums;
@using CrucibleBugTracker.Services.Interfaces

@inject IBTFileService _FileService
@inject IBTProjectService _ProjectService

@{
    ViewData["Title"] = "Edit";
    List<BTUser> projectDevelopers = await _ProjectService.GetProjectMembersByRoleAsync(Model.Id, nameof(BTRoles.Developer), Model.CompanyId);
    List<BTUser> projectSubmitters = await _ProjectService.GetProjectMembersByRoleAsync(Model.Id, nameof(BTRoles.Submitter), Model.CompanyId);
    List<string> selectedDeveloperIds = projectDevelopers.Select(u => u.Id).ToList();
    List<string> selectedSubmitterIds = projectSubmitters.Select(u => u.Id).ToList();
    string devIds = string.Join(",", selectedDeveloperIds) + ',';
    string subIds = string.Join(",", selectedSubmitterIds) + ',';
}
<div id="mainContent">
    <div class="page-header" onload="loadMembers(@selectedDeveloperIds, @selectedSubmitterIds)">
        <div>
            <h3>Edit Project</h3>
            <nav aria-label="breadcrumb" class="d-flex align-items-start">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-controller="Projects" asp-action="Index">Projects</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Edit</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit" asp-controller="Projects" id="projectEditForm" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CompanyId" />
                <input type="hidden" asp-for="Created" />
                <input type="hidden" asp-for="ImageFileData" />
                <input type="hidden" asp-for="ImageFileType" />
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Project Details</h6>
                        <div class="d-flex mb-3">
                            <figure class="mr-3">
                                <a class="image-popup" id="lightBoxImg" href="@_FileService.ConvertByteArrayToFile(Model.ImageFileData, Model.ImageFileType, DefaultImage.ProjectImage)">
                                    <img width="100" src="@_FileService.ConvertByteArrayToFile(Model.ImageFileData, Model.ImageFileType, DefaultImage.ProjectImage)" class="img-fluid" id="projectImage" onchange="document.getElementById('lightBoxImg').setAttribute('href', )" />
                                </a>
                            </figure>
                            <div>
                                <label asp-for="ImageFormFile" class="control-label">Project Image</label>
                                <input asp-for="ImageFormFile" class="form-control" accept=".png, .jpeg, .jpg, .gif, .svg"
                                       onchange="changeImage(this)" />
                                <span asp-validation-for="ImageFormFile" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label">Project Name</label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="StartDate" class="control-label"></label>
                                    <input asp-for="StartDate" class="form-control" />
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ProjectPriorityId" class="control-label"></label>
                                    <select asp-for="ProjectPriorityId" class="form-control" asp-items="ViewBag.ProjectPriorityId"></select>
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <label asp-for="EndDate" class="control-label"></label>
                                        <input asp-for="EndDate" class="form-control" />
                                        <span asp-validation-for="EndDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <textarea id="editor" asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Project Members</h6>
                        <div class="row">
                            @{
                                if (User.IsInRole(nameof(BTRoles.Admin)))
                                {
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="control-label">Project Manager</label>
                                            <select class="form-control" asp-items="@ViewBag.ProjectManagers" name="projectManagerId">
                                                <option value="@null">Unassigned</option>
                                            </select>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">All Active Developers</label>
                                    <div class="assignProjectUsers">
                                        <table class="table table-hover assignProjectUsersTable">
                                            <thead>
                                                <tr>
                                                    <th>Full Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (BTUser user in ViewBag.ProjectDevelopers)
                                                {
                                                    if (selectedDeveloperIds.Contains(user.Id))
                                                    {
                                                        <tr data-id="@user.Id" id="developer" role="button" style="display:none;" onclick="addDeveloper(this)">
                                                            <td>
                                                                @if (user.ImageFileData != null)
                                                                {
                                                                    <figure class="avatar mr-3">
                                                                        <img src="@_FileService.ConvertByteArrayToFile(user.ImageFileData, user.ImageFileType, DefaultImage.BTUserImage)"
                                                                             class="rounded-circle"
                                                                             alt="avatar">
                                                                    </figure>
                                                                    <span>@user.FullName</span>
                                                                }
                                                                else
                                                                {
                                                                    <figure class="avatar mr-3">
                                                                        <span class="avatar-title bg-info-bright text-info rounded-circle">
                                                                            @user.FirstName?[0]
                                                                        </span>
                                                                    </figure>
                                                                    <span>@user.FullName</span>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }

                                                    else
                                                    {
                                                        <tr data-id="@user.Id" id="developer" role="button" onclick="addDeveloper(this)">
                                                            <td>
                                                                @if (user.ImageFileData != null)
                                                                {
                                                                    <figure class="avatar mr-3">
                                                                        <img src="@_FileService.ConvertByteArrayToFile(user.ImageFileData, user.ImageFileType, DefaultImage.BTUserImage)"
                                                                             class="rounded-circle"
                                                                             alt="avatar">
                                                                    </figure>
                                                                    <span>@user.FullName</span>
                                                                }
                                                                else
                                                                {
                                                                    <figure class="avatar mr-3">
                                                                        <span class="avatar-title bg-info-bright text-info rounded-circle">
                                                                            @user.FirstName?[0]
                                                                        </span>
                                                                    </figure>
                                                                    <span>@user.FullName</span>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Selected Developers</label>
                                    <input type="hidden" id="newDevIds" value="@devIds" name="developerIds" />
                                    <div class="assignProjectUsers">
                                        <table class="table table-hover assignProjectUsersTable">
                                            <thead>
                                                <tr>
                                                    <th>Full Name</th>
                                                </tr>
                                            </thead>
                                            <tbody id="projectDevelopers" name="projectDevelopers">
                                                @foreach (BTUser developer in projectDevelopers)
                                                {
                                                    <tr data-userId="@developer.Id" id="developer" role="button" onclick="removeDeveloper(this)">
                                                        <td>
                                                            @if (developer.ImageFileData != null)
                                                            {
                                                                <figure class="avatar mr-3">
                                                                    <img src="@_FileService.ConvertByteArrayToFile(developer.ImageFileData, developer.ImageFileType, DefaultImage.BTUserImage)"
                                                                         class="rounded-circle"
                                                                         alt="avatar">
                                                                </figure>
                                                                <span>@developer.FullName</span>
                                                            }
                                                            else
                                                            {
                                                                <figure class="avatar mr-3">
                                                                    <span class="avatar-title bg-info-bright text-info rounded-circle">
                                                                        @developer.FirstName?[0]
                                                                    </span>
                                                                </figure>
                                                                <span>@developer.FullName</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">All Active Submitters</label>
                                    <div class="assignProjectUsers">
                                        <table class="table table-hover assignProjectUsersTable">
                                            <thead>
                                                <tr>
                                                    <th>Full Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (BTUser user in ViewBag.ProjectSubmitters)
                                                {
                                                    if (selectedSubmitterIds.Contains(user.Id))
                                                    {
                                                        <tr role="button" data-id="@user.Id" id="submitter" style="display:none;" onclick="addSubmitter(this)">
                                                            <td>
                                                                @if (user.ImageFileData != null)
                                                                {
                                                                    <figure class="avatar mr-3">
                                                                        <img src="@_FileService.ConvertByteArrayToFile(user.ImageFileData, user.ImageFileType, DefaultImage.BTUserImage)"
                                                                             class="rounded-circle"
                                                                             alt="avatar">
                                                                    </figure>
                                                                    <span>@user.FullName</span>
                                                                }
                                                                else
                                                                {
                                                                    <figure class="avatar mr-3">
                                                                        <span class="avatar-title bg-info-bright text-info rounded-circle">
                                                                            @user.FirstName?[0]
                                                                        </span>
                                                                    </figure>
                                                                    <span>@user.FullName</span>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr role="button" data-id="@user.Id" id="submitter" onclick="addSubmitter(this)">
                                                            <td>
                                                                @if (user.ImageFileData != null)
                                                                {
                                                                    <figure class="avatar mr-3">
                                                                        <img src="@_FileService.ConvertByteArrayToFile(user.ImageFileData, user.ImageFileType, DefaultImage.BTUserImage)"
                                                                             class="rounded-circle"
                                                                             alt="avatar">
                                                                    </figure>
                                                                    <span>@user.FullName</span>
                                                                }
                                                                else
                                                                {
                                                                    <figure class="avatar mr-3">
                                                                        <span class="avatar-title bg-info-bright text-info rounded-circle">
                                                                            @user.FirstName?[0]
                                                                        </span>
                                                                    </figure>
                                                                    <span>@user.FullName</span>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Selected Submitters</label>
                                    <input type="hidden" id="newSubIds" value="@subIds" name="submitterIds" />
                                    <div class="assignProjectUsers">
                                        <table class="table table-hover assignProjectUsersTable">
                                            <thead>
                                                <tr>
                                                    <th>Full Name</th>
                                                </tr>
                                            </thead>
                                            <tbody id="projectSubmitters" name="projectSubmitters">
                                                @foreach (BTUser submitter in projectSubmitters)
                                                {
                                                    <tr data-userId="@submitter.Id" id="submitter" role="button" onclick="removeSubmitter(this)">
                                                        <td>
                                                            @if (submitter.ImageFileData != null)
                                                            {
                                                                <figure class="avatar mr-3">
                                                                    <img src="@_FileService.ConvertByteArrayToFile(submitter.ImageFileData, submitter.ImageFileType, DefaultImage.BTUserImage)"
                                                                         class="rounded-circle"
                                                                         alt="avatar">
                                                                </figure>
                                                                <span>@submitter.FullName</span>
                                                            }
                                                            else
                                                            {
                                                                <figure class="avatar mr-3">
                                                                    <span class="avatar-title bg-info-bright text-info rounded-circle">
                                                                        @submitter.FirstName?[0]
                                                                    </span>
                                                                </figure>
                                                                <span>@submitter.FullName</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="button" value="Save Changes" id="editCheck" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="editProjectModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Edit Project</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <i class="ti-close"></i>
                                </button>
                            </div>
                            <div class="d-flex flex-column">
                                <div class="modal-body pt-0">
                                    <input type="hidden" name="ticketsToUnassign" id="unassignedTickets" />
                                    <h5 id="projectName">@Model.Name</h5>
                                    <h6>Removing developers from this project will unassign the following:</h6>
                                    <ol>
                                        <li><span id="activeTickets">(X)</span> active ticket(s).</li>
                                        <li><span id="archivedTickets">(X)</span> archived ticket(s).</li>
                                    </ol>
                                    <h6>Are you sure you want to proceed?</h6>
                                    <hr />
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Developer</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody id="unassignedTicketsBody">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer" style="height:inherit">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        No/Close
                                    </button>
                                    <button type="submit" id="editConfirm" class="btn btn-primary">Yes/Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('.image-popup').magnificPopup({
                type: 'image',
                zoom: {
                    enabled: true,
                    duration: 300,
                    easing: 'ease-in-out',
                    opener: function (openerElement) {
                        return openerElement.is('img') ? openerElement : openerElement.find('img');
                    }
                }
            });           

            $('#editCheck').on("click", function () {

                let args =
                {
                    projectId: @Model.Id,
                    newDevIdsString: $('#newDevIds').val(),
                };

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("CheckForAlteredTickets","Projects")',
                    data: args,
                    success: function (result) {
                        let tickets = result.unassignedTickets;
                        let unassignedTickets = document.getElementById("unassignedTickets");
                        unassignedTickets.value = null;

                        if (tickets.length > 0) {

                            let activeTickets = tickets.filter(t => t.archived == false).length;
                            let archivedTickets = tickets.filter(t => t.archived == true).length;
                            let tableBody = document.getElementById("unassignedTicketsBody");
                            tableBody.innerHTML = "";
                                                        
                            unassignedTickets.value = JSON.stringify(tickets);

                            tickets.forEach(function (ticket) {

                                let tableRow = document.createElement("tr");
                                let tableData = document.createElement("td");
                                let tableData2 = document.createElement("td");
                                let tableData3 = document.createElement("td");
                                tableData.innerHTML = ticket.title;
                                tableData2.innerHTML = ticket.developerUser.fullName;
                                tableData3.innerHTML = ticket.archived ? "Archived" : "Active";
                                tableRow.appendChild(tableData);
                                tableRow.appendChild(tableData2);
                                tableRow.appendChild(tableData3);
                                tableBody.appendChild(tableRow);
                                $('#activeTickets').text(activeTickets);
                                $('#archivedTickets').text(archivedTickets);
                            });

                            $('#editProjectModal').modal('show');
                        }
                        else {
                            $('#projectEditForm').submit();
                        }
                    },
                    error: function () {
                        alert('error');
                    }
                })
            })
        });
    </script>
    <script>
        function addDeveloper(developer) {
            var developerIds = document.getElementById("newDevIds")
            var developerId = developer.getAttribute("data-id");
            var projectDevelopers = document.getElementById("projectDevelopers");
            var splitDevelopers = developerIds.value.split(',');
            if (!splitDevelopers.includes(developerId)) {
                developer.style.display = "none";
                developerIds.value = developerIds.value + developerId + ',';
                row = projectDevelopers.insertRow();
                row.setAttribute("onclick", "removeDeveloper(this)");
                row.setAttribute("data-userId", developerId);
                cell1 = row.insertCell(0);
                cell1.innerHTML = developer.cells[0].innerHTML;
            }
        }

        function removeDeveloper(projectDeveloper) {
            var developerId = projectDeveloper.getAttribute("data-userId");
            projectDeveloper.remove();
            var developerIds = document.getElementById("newDevIds");
            developers = developerIds.value.split(',');
            var index = developers.indexOf(developerId);
            if (index > -1) {
                developers.splice(index, 1);
            }
            developerIds.value = developers.join(',');
            var developer = document.querySelector(`[data-id="${developerId}"]`);
            developer.style.display = "table-row";
        }

        function addSubmitter(submitter) {
            var submitterIds = document.getElementById("newSubIds")
            var submitterId = submitter.getAttribute("data-id")
            var projectSubmitters = document.getElementById("projectSubmitters")
            var splitSubmitters = submitterIds.value.split(',');
            if (!splitSubmitters.includes(submitterId)) {
                submitter.style.display = "none";
                submitterIds.value = submitterIds.value + submitterId + ',';
                row = projectSubmitters.insertRow();
                row.setAttribute("onclick", "removeSubmitter(this)");
                row.setAttribute("data-userId", submitterId);
                cell1 = row.insertCell(0);
                cell1.innerHTML = submitter.cells[0].innerHTML;
            }
        }

        function removeSubmitter(projectSubmitter) {
            var submitterId = projectSubmitter.getAttribute("data-userId");
            projectSubmitter.remove();
            var submitterIds = document.getElementById("newSubIds");
            submitters = submitterIds.value.split(',');
            var index = submitters.indexOf(submitterId);
            if (index > -1) {
                submitters.splice(index, 1);
            }
            submitterIds.value = submitters.join(',');
            var submitter = document.querySelector(`[data-id="${submitterId}"]`);
            submitter.style.display = "table-row";
        }

        function changeImage(image) {
            document.getElementById('projectImage').src = window.URL.createObjectURL(image.files[0])
            document.getElementById('lightBoxImg').href = window.URL.createObjectURL(image.files[0])
        }
    </script>
}